@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@keyframes bounce-top{0%{transform:translateY(-45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(-24px);animation-timing-function:ease-in}65%{transform:translateY(-12px);animation-timing-function:ease-in}82%{transform:translateY(-6px);animation-timing-function:ease-in}93%{transform:translateY(-4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 40%;
}

/*NAV BAR*/

nav {
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin-left: -10rem;
}

div p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#icon {
    margin-right: 0.3rem;
}

#iconGit {
    margin-right: 0.2rem;
}

.container {
    margin-top: 50px;
}

.git {
    display: flex;
    align-items: center;
}

.home-name {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

/*botão para mudar o tema da página*/
#theme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 5px;
    background-color: #FBD38D;
}

#theme:hover {
    filter: saturate(200%);
}

#theme:active {
    filter: saturate(300%)
    opacity(0.8);
}
/*CORPO*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gif {
    border-radius: 20px;
}

#mensage {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation:bounce-top .9s both;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 485.5px;
    height: 48px;
    background-color: #dcdcc8dc;
    opacity: 0.8;
    filter: contrast(120%);
    border-radius: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/*Perfil*/

.perfil {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#imgPerfil {
    margin-left: 1rem;
    height: 96px;
    width: 96px;
    object-fit: cover;
    border-radius: 200px; 
    border: 1px solid white;
    box-shadow: 3px 3px 3px rgba(34, 33, 33, 0.767);
}

.perfil h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: -1rem;
    margin-left: 0.5rem;
}

/*Corpo*/

#sobre {
    margin-top: -1rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

h5 {
    font-size: 1.2rem;
}

.linha-about {
    margin-top: -1.8rem;
    margin-left: -0.1rem;
    height: 5px;
    width: 110px;
    background-color: #9e9d9ddc;
    border-radius: 5px;
}

.teste {
    background-color: bisque;
}

#linkPortfolio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    width: 147.67px;
    height: 40px;
    background-color: #379795;
    border-style: none;
    border-radius: 5px;
    color: white;
    margin-top: 1rem;
}

#linkPortfolio:hover {
    transition-delay: 60ms;
    filter: saturate(130%);
}

#linkPortfolio:active {
    transition-delay: 60ms;
    filter: saturate(200%)
    opacity(0.8);
}

.linha-bio {
    margin-top: -1.8rem;
    margin-left: -0.1rem;
    height: 5px;
    width: 34px;
    background-color: #9e9d9ddc;
    border-radius: 5px;
}

.linha-social {
    margin-top: -1.8rem;
    margin-left: -0.1rem;
    height: 5px;
    width: 135px;
    background-color: #9e9d9ddc;
    border-radius: 5px;
}

.containerBio {
    width: 100%;
}

.bio {
    display: flex;
    align-items: center;

}

.containerBio .bio:not(:first-child) {
    margin-top: -1rem;
}

.bio h5 {
    margin-right: 1rem;
}

.ilove {
    width: 100%;
}

.redesSociais {
    width: 100%;
}

.iconLink {
    height: 40px;
    width: 40px;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0094bc;
}

.link img {
    margin-right: 1.2rem;
}

.div-links {
    margin-top: 1rem;
}

/*Projetos*/

.container_projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 180%;
    margin-top: 40px;
}

.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    height: 300px;
    width: 20vw;
    margin-bottom: 4px;
}

.imagem_projeto {
    height: 32vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 25px;

    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
    ;

}

.imagem_link{
    display: flex;
    align-items: center;
}
